<!DOCTYPE html>

<html>
<head>
     <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
      />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/first.css" asp-append-version="true"/>
    <title>Welcome</title>
</head>

<body>
<div>
    @RenderBody()
</div>
</body>
<script src="~/assets/vendor/js/bootstrap.js"></script>
</html>