
@{
    Layout = "_LayoutFirst";
}

<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
</head>
<body>
    <div class="row d-flex" style="width: auto; height: 90vh;">
        <div class="col-6">
            <h1 class="text1">Welcome to Timeline Management</h1>
            <a href="/account/login" class="btn">Let's Manage Your Time</a>
        </div>
        <div class="col-6">
            <img class="bg1" src="~/assets/img/illustrations/welcome-page.jpg" alt="img...">
        </div>
    </div>
</body>
</html>
