@{
    ViewData["Title"] = "Home Page";
}

<div class="container-xxl flex-grow-1 container-p-y">
	<div class="d-flex flex-wrap">
		<div class="col-sm-6 col-lg-4 mb-4">
			<div class="card card-border-shadow-primary h-100">
				<div class="card-body d-flex align-items-center justify-content-between">
					<div class="avatar">
						<span class="avatar-initial rounded bg-label-primary"><i class='bx bx-folder-open'></i></span>
					</div>
					<div class="text-center">
						<h4 id="totalProjects" class="mb-0">Loading...</h4>
						<p class="mb-0">Total Project</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-lg-4 mb-4">
			<div class="card card-border-shadow-warning h-100">
				<div class="card-body d-flex align-items-center justify-content-between">
					<div class="avatar">
						<span class="avatar-initial rounded bg-label-danger"><i class='bx bx-task-x'></i></i></span>
					</div>
					<div class="text-center">
						<h4 id="taskUnFinished" class="mb-0">Loading...</h4>
						<p class="mb-0">Unfinish Task</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-lg-4 mb-4">
			<div class="card card-border-shadow-danger h-100">
				<div class="card-body d-flex align-items-center justify-content-between">
					<div class="avatar">
						<span class="avatar-initial rounded bg-label-success"><i class='bx bx-task'></i></span>
					</div>
					<div class="text-center">
						<h4 id="taskFinished" class="mb-0">Loading...</h4>
						<p class="mb-0">Finish Task</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



