@{
    ViewData["Title"] = "Home Page";
}


<div class="container mt-2 ml-3">
    <div class="row">
        <div class="col-4">
            <div class="card text-white bg-primary" style="width: 300px;">
                <div class="card-body">
                    <div class="card-header text-center">Task Status</div>
                    <div class="card-body text-center">
                        <div class="card-title text-center">Finished</div>
                        <h1 id="taskFinished" style="font-size:50px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:white;">Loading...</h1>
                    </div><div class="card-body text-center">
                        <div class="card-title text-center">Unfinished</div>
                        <h1 id="taskUnFinished" style="font-size:50px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:white;">Loading...</h1>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card text-white bg-primary" style="max-width: 18rem;">
                <div class="card-header text-center">Total Projects</div>
                <div class="card-body text-center">
                    <h1 id="totalProjects" style="font-size:50px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:white;">Loading...</h1>
                </div>
            </div>
        </div>
    </div>
</div>