* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.text1 {
    margin-top: 300px;
    text-shadow: 2px 2px 8px black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color: #696cff;
}

.bg1 {
    height:  100%;
    width: 100%;
}
