* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.content {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content2 {
    width: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

#cardSection {
    width: 100%;
    display: flex;  
    justify-content: center;
    
}
#left {
    width: 300px;
    margin: 20px;
    background-color: #696cff;
    min-height: 400px;
}

#project-card { 
    width: 100%;
    min-height: 200px;
    display: flex;
}

.textProject{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 50px;
}

.btn1{
    margin-right: 10px;
}

.modal-header {
    background-color: #696cff;
   
}

.modal-title{
    color: white;
   
}


