* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.content {
    width: auto;
    min-height: 100vh;
    justify-content: center;
}
.content2 {
    width: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

#cardSection {
    width: 100%;
    min-height: 200px;
    display: flex;  
    justify-content: center;
    
}
#left {
    width: 300px;
    margin: 20px;
    height: auto;
    background-color: #696cff;
}

#project-card { 
    width: 100%;
    min-height: 200px;
    display: flex;
}


