* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.content {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

#cardSection {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    
}

#project-card {
    width: 100%;
    min-height: 200px;
    display: flex;
}

#left, #right, #right2, #right3 {
    width: 300px;
    min-height: 400px;
    margin: 20px;
    height: auto;
    background-color: #696cff;
    border: 2px solid black;
}
