@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
        ViewData["Title"] = "Project";
    Layout = "_LayoutAllProject";
}
<h1 class="textProject">Project</h1>
<button type="button" class="btn btn-primary ml-4 mb-2" data-toggle="modal" data-target="#createModal" style="width:fit-content">Create New Project</button>
<div class="content2">
    <div class="row" id="project-card"></div>
</div>
<
