@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model TimelineManagement.DTOs.Projects.DetailProject
@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutDetailProject";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <h2 class="card-header textProject" id="nameHeader" style="text-shadow: 1px 1px 1px #001865;" >Project</h2>
                <input type="hidden" id="jwtToken" value='@Context.Session.GetString("JWToken")'>
                @if (User.IsInRole("Project Manager"))
                {
                    <div class="row" style="margin-left: 10px">
                        <div class="col">
                            <button type="button" class="btn1 btn btn-success mb-2" data-toggle="modal" data-target="#addColabModal" onclick="openAddColabModal()" style="width:fit-content">
                                Add Collaborator
                            </button>
                            <button type="button" class="btn btn-success mb-2" data-toggle="modal" data-target="#addTaskModal" onclick="openAddColabModal()" style="width:fit-content">
                                Add Task
                            </button>
                        </div>
                    </div>
                    <div class="row" style="margin-right: 10px">
                        <div class="col">
                            <button type="button" class="btn1 btn btn-warning mb-2" data-toggle="modal" data-target="#editProjectModal" onclick="openAddColabModal()" style="width:fit-content">
                                Edit
                            </button>
                            <button type="button" class="btn btn-danger mb-2" data-toggle="modal" data-target="" onclick="openAddColabModal()" style="width:fit-content">
                                Delete
                            </button>
                        </div>
                    </div>
                }
                <div class="content">
                    <div id="cardSection"></div>
                </div>
            </div>
        </div>
    </div>
</div>

    

<!-- Add Coolaborator Modal -->
    <div class="modal fade" id="addColabModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header d-flex flex-column ">
                    <h5 class="modal-title " id="createModalLabel">Add Collaborator</h5>
                    <button type="button" class="btn-close mr-3" data-dismiss="modal" aria-label="Close">
                      
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Your form code here -->
                    <form action="Create" id="formAuthentication" class="mb-3" action="/ProjectCollaborator/Create/" method="post">
                        <div class="form-group">
                            <input type="hidden" id="ProjectGuid" name="ProjectGuid" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="Email">Email</label>
                            <input type="email" id="Email" name="Email" class="form-control" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="InsertCollab()" data-dismiss="modal">Create</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Task Modal -->
    <div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header d-flex flex-column">
                    <h5 class="modal-title mx-auto" id="createModalLabel">Add Task</h5>
                    <button type="button" class="btn-close mr-3" data-dismiss="modal" aria-label="Close">
                       
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Your form code here -->
                    <form action="Create" id="formAuthentication" class="mb-3" action="/Task/Create/" method="post">
                        <div class="form-group">
                            <label for="Name">Task Name</label>
                            <input type="text" id="Name" name="Name" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="StartDate">Start Date</label>
                            <input type="date" id="StartDate" name="StartDate" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="EndDate">End Date</label>
                            <input type="date" id="EndDate" name="EndDate" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="Priority">Priority</label>
                            <select id="Priority" name="Priority" class="form-select" aria-label="Default select example">
                                <option selected>Select Priority</option>
                                <option value="0">Low</option>
                                <option value="1">Medium</option>
                                <option value="2">High</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="hidden" id="ProjectGuid" name="ProjectGuid" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="Email">Email</label>
                            <input type="email" id="EmployeeEmail" name="Email" class="form-control" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="InsertTask()" data-dismiss="modal">Create</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Detail Task Modal -->
<div class="modal fade" id="detailTask" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg"> <!-- Added 'modal-lg' for a larger modal -->
        <div class="modal-content">
            <div class="modal-header d-flex flex-column">
                <h5 class="modal-title mx-auto" id="exampleModalLabel">Task</h5>
                <button type="button" class="btn-close mr-3" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!-- First Column -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Name">Name</label>
                            <div id="name"></div>
                        </div>
                        <div class="form-group">
                            <label for="StartDate">Start Date</label>
                            <div id="startDate"></div>
                        </div>
                        <div class="form-group">
                            <label for="EndDate">End Date</label>
                            <div id="endDate"></div>
                        </div>
                        <div class="form-group">
                            <label for="Priority">Priority</label>
                            <div id="priority"></div>
                        </div>
                        <div class="form-group">
                            <label for="ProjectName">Project Name</label>
                            <div id="projectName"></div>
                        </div>
                        <div class="form-group">
                            <label for="ProjectManager">Project Manager</label>
                            <div id="projectManager"></div>
                        </div>
                        <!-- Add more form elements as needed -->
                    </div>
                    <!-- Second Column -->
                    <div class="col-md-6">                        
                        <div class="form-group">
                            <label for="EmployeeName">Employee Name</label>
                            <div id="employeeName"></div>
                        </div>
                        <div class="form-group">
                            <label for="EmployeePhoneNumber">Employee Phone Number</label>
                            <div id="employeePhoneNumber"></div>
                        </div>
                        <div class="form-group">
                            <label for="EmployeeEmail">Employee Email</label>
                            <div id="employeeMail"></div>
                        </div>
                        <div class="form-group">
                            <label for="isFinished">Status</label>
                            <div id="isFinished"></div>
                            <button class="btn btn-danger mt-1" data-bs-toggle="modal" data-bs-target="#changeStatus">Change</button>
                        </div>
                        <div class="form-group">
                            <label for="SectionName">Section Name</label>
                            <div id="sectionName"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="listComment"></div>
            
        </div>
    </div>
</div>

<!-- Comments Modal -->
<div class="modal fade" id="commentModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header d-flex flex-column">
                <h5 class="modal-title mx-auto" id="exampleModalToggleLabel2">Comments List</h5>
                <button type="button" class="btn-close mr-3" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="commentBody"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#detailTask" data-bs-toggle="modal" data-bs-dismiss="modal">Back to detail task</button>
                <button class="btn btn-primary" data-bs-target="#addComment" data-bs-toggle="modal" data-bs-dismiss="modal">Add Comment</button>
            </div>
        </div>
    </div>
</div>

<!--Add Comments Modal -->
<div class="modal fade" id="addComment" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex flex-column">
                <h5 class="modal-title mx-auto" id="exampleModalToggleLabel2" >Add Comment</h5>
                <button type="button" class="btn-close mr-3" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="">Comment</label>
                    <textarea class="form-control" id="CommentInsert" rows="3" placeholder="Enter your comment here..."></textarea>
                </div>
                <div class="form-group">
                    <input type="hidden" id="TaskGuid" name="TaskGuid" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="hidden" id="EmployeeGuid" name="EmployeeGuid" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="hidden" id="ProjectGuid" name="ProjectGuid" class="form-control" />
                </div>
            </div>
            <div id="insertComment"></div>
      
        </div>
    </div>
</div>

<!-- History Modal -->
<div class="modal fade" id="historyModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header d-flex flex-column">
                <h5 class="modal-title mx-auto" id="exampleModalToggleLabel2">History Task</h5>
                <button type="button" class="btn-close mr-3" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="historyBody"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#detailTask" data-bs-toggle="modal" data-bs-dismiss="modal">Back to detail task</button>
            </div>
        </div>
    </div>
</div>

<!-- Change Status Modal -->
<div class="modal fade" id="changeStatus" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header d-flex flex-column">
                    <h5 class="modal-title mx-auto" id="createModalLabel">Change Status</h5>
                    <button type="button" class="btn-close mr-3" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Your form code here -->
                    <form action="Create" id="formAuthentication" class="mb-3" action="/ProjectCollaborator/Create/" method="post">
                        <div class="form-group">
                            <input type="hidden" id="ProjectGuid" name="ProjectGuid" class="form-control" />
                        </div>
                            <div class="form-group">
                                <label for="isFinished">Status</label>
                                <select id="isFinishedStatus" name="isFinished" class="form-select" aria-label="Default select example">
                                    <option selected>Select Status</option>
                                    <option value="1">Finished</option>
                                    <option value="0">Unfinished</option>
                                </select>
                            </div>
                    </form>
                </div>
                 <div id="statusChange"></div>
            </div>
        </div>
    </div>

<!-- Change Section Modal -->
<div class="modal fade" id="changeSection" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header d-flex flex-column">
                    <h5 class="modal-title mx-auto" id="createModalLabel">Change Section</h5>
                    <button type="button" class="btn-close mr-3" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Your form code here -->
                    <form action="Create" id="formAuthentication" class="mb-3" action="/ProjectCollaborator/Create/" method="post">
                        <div class="form-group">
                            <input type="hidden" id="ProjectGuid" name="ProjectGuid" class="form-control" />
                        </div>
                        @if (User.IsInRole("Project Manager"))
                        {
                            <div class="form-group">
                                <label for="Section">Section</label>
                                <select id="Section" name="Section" class="form-select" aria-label="Default select example">
                                    <option selected>Select Section</option>
                                    <option value="fe4aa61c-329d-447f-811a-08db9fb220e4,To Do">To Do</option>
                                    <option value="1c7324b5-2e88-4d33-811b-08db9fb220e4,In Progress">In Progress</option>
                                    <option value="196272df-788f-4894-811c-08db9fb220e4,Testing">Testing</option>
                                    <option value="ec87fdea-0a03-4ce2-811d-08db9fb220e4,Done">Done</option>
                                </select>
                            </div>
                        }
                        
                        @if (User.IsInRole("Staff"))
                        {
                            <div class="form-group">
                                <label for="Section">Section</label>
                                <select id="Section" name="Section" class="form-select" aria-label="Default select example">
                                    <option selected>Select Section</option>
                                    <option value="fe4aa61c-329d-447f-811a-08db9fb220e4,To Do">To Do</option>
                                    <option value="1c7324b5-2e88-4d33-811b-08db9fb220e4,In Progress">In Progress</option>
                                    <option value="196272df-788f-4894-811c-08db9fb220e4,Testing">Testing</option>
                                </select>
                            </div>
                        }
                        
                        
                    </form>
                </div>
                <div id="sectionChange"></div>
                
            </div>
        </div>
    </div>
<!-- Edit Project Modal -->
<div class="modal fade" id="editProjectModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex flex-column ">
                <h5 class="modal-title " id="updateModalLabel">Edit Project</h5>
                <button type="button" class="btn-close mr-3" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <!-- Your form code here -->
                <div class="mb-3">
                    <label for="guid" class="form-label">Guid</label>
                    <input type="text" class="form control" id="guidUpdate" placeholder="" disabled>
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Project Name</label>
                    <input type="text" class="form control" id="nameUpdate" placeholder="">
                </div>
                <div class="mb-3">
                    <label for="isDelete" class="form-label">Is Deleted</label>
                    <input type="text" class="form control" id="isDeleteUpdate" placeholder="" disabled>
                </div>
                <div class="mb-3">
                    <label for="startDate" class="form-label">Start Date</label>
                    <input type="text" class="form control" id="startDateUpdate" placeholder="" disabled>
                </div>
                <div class="mb-3">
                    <label for="endDate" class="form-label">End Date</label>
                    <input type="datetime-local" class="form control" id="endDateUpdate" placeholder="">
                </div>
                <div class="mb-3">
                    <label for="employeeGuid" class="form-label">Employee Guid</label>
                    <input type="text" class="form control" id="employeeGuidUpdate" placeholder="" disabled>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="UpdateProject()" data-dismiss="modal">Save</button>
            </div>
        </div>
        </div>
</div>


